<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div>Hello Jake with EJS from views src</div>
    <div>"rel="stylesheet" href="/css/styles.css"</div>
    <div>"class="jake" src="/img/1.jpg" alt=""</div>
    <img class="jake" src="/img/1.jpg" alt="" />
  </body>
</html>
